.main-socia {
    margin: 50px 50px;
     width:260px;
     height:330px
}
.icon-name {
    width: 50px;
    height:60px;
    margin:20px 30px
}
.main-socia-buttom {
    color: white;
    margin-top: 118px;
    margin-left: 35px;
}
.main-socia-text {
    font-size: xx-large;
    font-weight: 400;

}
.main-socia-unit {

}